@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
}


















.link {
  text-decoration: none;
  font-size: 15px;
}

.linkContainer:hover {
  transform: scale(1.06);
}

.linkContainer:hover~.linkContainer {
  transform: translateY(2px);
}














.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(241, 175, 175);
  border-radius: 5px;
}